HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

*/bin/
logs/
data/
.class
.log
.DS_Store

# STS #
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Package Files #
*.jar
*.war
